<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="SysOut" class="org.apache.log4j.ConsoleAppender">
		<layout class="io.github.skydynamic.maiprober.util.logger.ANSIColorLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss}] [%t/%p] (%c{1}) %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="INFO" />
			<param name="levelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="ServerGuiConsole" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="SysOut"/>
	</appender>

	<logger name="io.github.skydynamic.maiprober" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="SysOut"/>
	</logger>

	<root>
		<priority value="INFO"/>
		<appender-ref ref="DebugFile"/>
		<appender-ref ref="LatestFile"/>
		<appender-ref ref="ServerGuiConsole"/>
	</root>
</log4j:configuration>